#wpwrap {
	background: url("<?php echo ngcp_plugin_dir_url(); ?>img/furley_bg.png");
}
#adminmenuback {
	z-index: 1;
}
#adminmenuwrap {
	z-index:2;
}
#wpbody-content > .wrap .error {
	display: none;
}
#wpbody-content > .wrap {
	background-color: #fff;
	padding: 15px;
	margin: 40px 35px 20px 20px;
	border-radius: 12px;-moz-border-radius: 12px;-webkit-border-radius: 12px;
	border: 2px solid #e0e0d7;
	color: #444;
}
#wpbody-content > .wrap input[type=text],#wpbody-content > .wrap select,#wpbody-content > .wrap textarea {
    margin-bottom: 4px;
    padding: 4px;
    color: #444;
    font-size: 15px;
    border: 1px solid #ebebe7;
    border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;
    background-color: #fcfcfa;
    outline: 0;
}
#wpbody-content > .wrap input[readonly="readyonly"] {
	background-color: #fcfcfa;
	color: #a6a6a1;
}
#wpbody-content > .wrap .button-primary, #wpbody-content > .wrap .button-secondary, #wpbody-content > .wrap .button-quiet {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #fcfcfa !important;
    margin: 0;
    padding: 5px 8px 5px;
    border: 0 !important;
    border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;
    text-align: left;
    font-weight: bold;
    cursor:pointer;
	text-shadow: none !important;
	background-image: none;
}
#wpbody-content > .wrap .button-primary:hover, #wpbody-content > .wrap .button-secondary:hover, #wpbody-content > .wrap .button-quiet:hover {
	color:
	white !important;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,
	#444), color-stop(100%,
	#333)) !important;
	background-image: -webkit-linear-gradient(
	#444,
	#333) !important;
	background-image: -moz-linear-gradient(
	#444,
	#333) !important;
	background-image: -o-linear-gradient(
	#444,
	#333) !important;
	background-image: -ms-linear-gradient(
	#444,
	#333) !important;
	background-image: linear-gradient(
	#444,
	#333) !important;
	background-color:
	#444 !important;
}
#wpbody-content > .wrap .button-secondary {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,
	#3E97C5), color-stop(100%,
	#3689B3)) !important;
	background-image: -webkit-linear-gradient(
	#3E97C5,
	#3689B3) !important;
	background-image: -moz-linear-gradient(
	#3E97C5,
	#3689B3) !important;
	background-image: -o-linear-gradient(
	#3E97C5,
	#3689B3) !important;
	background-image: -ms-linear-gradient(
	#3E97C5,
	#3689B3) !important;
	background-image: linear-gradient(
	#3E97C5,
	#3689B3) !important;
	background-color:
	#3689B3 !important;
}
#wpbody-content > .wrap .button-primary {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,
	#E85245), color-stop(100%,
	#E53D2E)) !important;
	background-image: -webkit-linear-gradient(
	#E85245,
	#E53D2E) !important;
	background-image: -moz-linear-gradient(
	#E85245,
	#E53D2E) !important;
	background-image: -o-linear-gradient(
	#E85245,
	#E53D2E) !important;
	background-image: -ms-linear-gradient(
	#E85245,
	#E53D2E) !important;
	background-image: linear-gradient(
	#E85245,
	#E53D2E) !important;
	background-color:
	#E53D2E !important;
}
#wpbody-content > .wrap .button-quiet {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,
	#BFBFBB), color-stop(100%,
	#B2B2AE)) !important;
	background-image: -webkit-linear-gradient(
	#BFBFBB,
	#B2B2AE) !important;
	background-image: -moz-linear-gradient(
	#BFBFBB,
	#B2B2AE) !important;
	background-image: -o-linear-gradient(
	#BFBFBB,
	#B2B2AE) !important;
	background-image: -ms-linear-gradient(
	#BFBFBB,
	#B2B2AE) !important;
	background-image: linear-gradient(
	#BFBFBB,
	#B2B2AE) !important;
	background-color:
	#B2B2AE !important;
}
input[type=submit].ng-button-link {
	background: none !important;
	border: none !important;
	cursor: pointer;
}
#wpbody-content > .wrap a, .ng-button-link {
	color: #3689b3 !important;
}
#wpbody-content > .wrap a:hover, input[type=submit].ng-button-link:hover {
	color: #444 !important;
}
.ng-connect-box {
	background-color: #ebebe7;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	margin: 12px 0px;
}
.ng-small {
	font-size: 10px !important;
}
.ng-success-bg {
	background-color: #c5e3b6 !important;
}
.toplevel_page_newsgrape {
	background: #e53d2e !important;
	text-shadow: 0 !important;
	border-color: #e53d2e !important;
	text-shadow: none !important;
}
#toplevel_page_newsgrape .wp-menu-arrow, #toplevel_page_newsgrape .wp-menu-arrow div  {
	background: #e53d2e !important;
}
.wp-menu-arrow {
}
table.editform th { text-align: left; }
dl { margin-right: 2%; margin-top: 1em; color: #666; }
dt { font-weight: bold; }
#ngcp dd { font-style: italic; }
ul#category-children {
	list-style: none;
	height: auto;
	width: 38em;
	max-width: 100%;
	overflow-y: auto;
	border: 1px solid #e0e0d7;
	padding: 1em;
	background: #fff;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
#category-children li {
	clear: both;
}
ul.children { margin-left: 1.5em; }
tr#scary-buttons { display: none; }
#delete_all { font-weight: bold; color: #c00; }
#ngcp-logout { margin-bottom: 30px; }
#ngcp-advanced-options { /*display: none;*/ }
#category-children select { float: right; }
.ng-edit-box {
	background: #fafafa;
	padding: 18px;
	margin: 0 0 12px 0;
	border: 1px solid #e0e0d7;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
#ngcp-fast-edit {
}

#ngcp-fast-edit-button {
	float: right;
}
.ng-connected-button {
	max-width: 620px;
	margin-bottom: 15px;
}
.ngcp-all-articles {
	margin-top: 20px;
}
.ngcp-all-articles td{
	padding: 6px;
}
.ngcp-all-articles .post-edit-link {
	border-right: 1px solid #8f8f8f;
	padding-right: 12px;
}
.ngcp-all-articles .ngcp-the-date {
	padding-left: 8px;
	padding-right: 5px;
	color: #8f8f8f;
	font-size: 10px;
}
.ngcp-all-articles .ngcp-the-title {
	padding-right: 8px;
	font-weight: bold;
	display: block;
}
.ngcp-all-articles .ngcp-has-no-type {
	background: #f8f8f8;
}
.ngcp-all-articles th.type {
	min-width: 135px;
}
.ngcp-sync-state {
	color: #8f8f8f;
	font-size: 10px;
}
.ngcp-all-articles tr.ngcp-synced {
	background: #E7F7D3;
}
.ngcp-sync-state.ngcp-synced {
	color: green;
}
.ngcp-edit-all {
	color: #fff;
	background: #8f8f8f;
}
.ngcp-hidden {
	visibility: hidden;
}
#ngcp-cat-select {
	margin-bottom: 10px;
}
.options h3 {
	padding-top: 20px;
}
#ngcp_header_img {
	border-radius: 15px;
	max-width: 100%;
	height: auto;
}
#setting-error-ngcp pre {
	font-weight: normal;
	font-size: 10px;
}
/*
.ngcp-black-overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.ngcp-white-content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}
*/

#ngcp-overlay {
   position: fixed;
   z-index:199;
   top: 0px;
   left: 0px;
   height:100%;
   width:100%;

}

* html #ngcp-overlay { /* ie6 hack */
   position: absolute;
   height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

.ngcp-overlay-bg {
   background-color:#000;
   -ms-filter: "Alpha(Opacity=75)";
   filter:alpha(opacity=75);
   -moz-opacity: 0.75;
   opacity: 0.75;
}

#ngcp-lightbox {
   position:fixed;
   top:50%;
   left:50%;
   margin-left:-200px;
   margin-top:-100px;
   padding: 50px;
   z-index:200;
   width:400px;
   background-color:#fff;
   text-align:center;
   border-radius: 13px;
}
* html #ngcp-lightbox { /* ie6 hack */
   position: absolute;
   margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#ngcp-lightbox .errors {
	display: none;
	overflow-x: auto;
	height: 0px;
	text-align: left;
	color: red;
}

.ngcp-box-header {
	background: url("<?php echo ngcp_plugin_dir_url(); ?>img/ng.png") center no-repeat #333;
	height: 41px;
	margin-left: -50px;
	margin-right: -50px;
	margin-top: -20px;
	margin-bottom: 25px;
}

#ngcp-lightbox button {
	display: block;
	margin-left: 180px;
	margin-top: 25px;
}

#ngcp-sync-status {
	display: block;
}
